html,
body {
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", serif;
    margin: 0;
    background-color: #eeeeee;
}

:root{
    --lv2-color : #3c0253;
}

.back{
    background-color: #133268;
}

.page-wrap {
    background-color: #fffef5;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 820px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.back .page-wrap{
    background-color: #2c5290;
    color: white;
}

::placeholder {
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.header {
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.8),
        2px 4px 5px rgba(0, 0, 0, 0.2);
}

.header-top {
    height: 80px;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-top img {
    max-height: 100%;
    width: auto;
    border: 1px solid #333;
}

.search-box {
    max-width: fit-content;
    max-height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    background-color: #efefef;
    margin-right: 10px;
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.8),
        2px 4px 5px rgba(0, 0, 0, 0.5);
}


.search-box button {
    border: none;
    background-color: inherit;
}

.search-box input {
    border: none;
    outline: none;
    font-size: 20px;
    background-color: inherit;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.header-bottom {
    overflow-x: auto;
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.8),
        0px -4px 5px rgba(0, 0, 0, 0.2);
}


.header-bottom ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin: 0;
    width: 100%;
    height: 40px;
    min-width: 800px;

}

.header-bottom ul li {
    flex: 1;
    display: flex;

    background: linear-gradient(to bottom, #fffef6 0%, #fffef5 100%);
    box-shadow: inset 0 1px 0 #fff;
    cursor: pointer;
}

.back .header-bottom{
    box-shadow:
        0px -4px 5px rgba(0, 0, 0, 0.2);
}


.back .header-bottom ul li{
    background: #2c5290;
    box-shadow: none;
}

.header-bottom ul li:hover {
    background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 1);
}

.back .header-bottom ul li:hover{
    background: #2c5290;
}

.header-bottom ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
}

.back .header-bottom ul li a{
    color: white;
    text-shadow: none;
}

@media screen and (max-width: 600px) {
    .header-top {
        flex-direction: column;
        height: auto;
        align-items: baseline;
        padding-left: 10px;
    }

    .header-top img {
        height: 80px;
        margin-bottom: 5px;
    }

    .search-box {
        position: sticky;
        top: 0;
        max-width: none;
        z-index: 1000;
        margin-right: 5px;
        width: 90vw;
        display: flex;
        justify-content: space-between;
        box-shadow:
            inset 0 1px 0 rgba(255, 255, 255, 0.8),
            1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .search-box-dummy {
        height: 40px;
        display: none;
    }

    .search-box input {
        width: 100%;
    }

    .search-box.is-fixed {
        position: fixed;
        top: 3px;
        left: 50%;
        width: 90vw;
        transform: translateX(-50%);
        z-index: 9999;
        border: 1px solid #333;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
    }

    .header-bottom {
        box-shadow: none;
    }
}


/* content */

.content {
    margin: 30px 40px;
    flex: 1;
}

.site-navi {
    font-size: 13px;
}

.back .site-navi a{
    color:white;
}

.site-navi a {
    color: #333;
    cursor: pointer;
}

.prog {
    font-family: "Noto Sans JP", sans-serif;
    text-align: right;
    padding-bottom: 20px;
    margin-right: 20px;
}

/* footer */

.footer {
    background-color: #888;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Noto Sans JP", sans-serif;
    color: #f0f0f0;
}

.back .footer{
    background-color: #6f7683;
}

.footer a {
    color: white;
}

.footer-notice {
    font-size: 14px;
    margin-top: 20px;
}

.footer-bottom {
    display: flex;
    margin-top: 10px;
    margin-right: 0;
    align-self: flex-start;
}

@media screen and (max-width: 680px) {
    .content {
        margin: 20px;
    }

    .footer-bottom {
        display: block;
    }
}

.footer-bottom-title {
    font-weight: bold;
    font-size: 20px;
}

.footer-bottom-inside {
    margin-left: 50px;
    margin-top: 10px;
}

.footer-bottom-inside ul {
    margin: 0;
}

.footer-credit {
    margin-top: 5px;
    align-self: flex-end;

    font-size: 14px;
}