.blog-box {
    margin: 8px;
}

.blog-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
    align-items: baseline;

    border-bottom: 2px solid #ffe085;
}

.blog-title {
    font-weight: 900;
    margin-left: 30px;

    color: black;
    font-size: 35px;
    text-shadow: 0 1px 0 #fff;
}

.blog-date {
    margin-right: 25px;
    margin-left: auto;

    color: #777;
    font-size: 15px;
}

.blog-content {
    margin: 20px 70px;
    color: black;
    min-height: 200px;
    font-size: 17px;
}

.blog-writer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 17px;
    width: fit-content;
}

.blog-writer a {
    color: black;
}

.blog-writer img {
    max-width: 38px;
    border-radius: 25px;
    border: 2px solid gray;
}

.back .blog-writer img {
    border: 2px solid #D6B9B8;
}

.back .blog-date {
    color: white;
}

.back .blog-title {
    color: white;
    text-shadow: none;
}

.back .blog-content {
    color: white;
}

.back .blog-writer a {
    color: white;
}

@media screen and (max-width: 600px) {
    .blog-header {
        padding-left: 0;
    }

    .blog-writer {
        margin-left: 0;
    }

    .blog-date{
        margin-right: auto;
        margin-left: 0;
    }

    .blog-header {
        flex-direction: column;
        align-items: baseline;
    }

    .blog-title {
        margin: 0;
    }

    .blog-content {
        margin: 20px 10px;
    }
}